body
{
	background-color: #bbb;
}

#login
{
	background: #bbb url("../images/background.jpg") no-repeat center fixed;
	background-size: cover;
}

#loginForm
{
	width: 40%;
	margin: 10% auto;
	border: solid 1px #000;
	border-radius: 25px;
	min-width: 350px;
	background-color: rgba(0,0,0,0.7);
}

#loginForm h1
{
	font-family: Old English Text MT;
	text-align: center;
	font-weight: bold;
	font-size: 60px;
	color: #ffc414;

}

#loginForm label
{
	color: #fff;
}

#contactsPage h1
{
	text-align: center;
	font-weight: bold;
	font-size: 60px;
	font-family: Old English Text MT;
	background-color: rgba(204,174,142,.6);
	width: 50%;
	margin: auto;
	border-radius: 25px;
	min-width: 350px;
}

h2
{
	font-size: 40px;
	text-align: center;
	font-family: Old English Text MT;
}

p
{
	background-color: rgba(204,174,142,.6);
	text-align: center;
	font-weight: bold;	
	font-size: 25px;
	width: 40%;
	margin: auto;
	border-radius: 15px;
}

#nameFields
{
	display: none;
}

#addInputs
{
	border: solid 1px #000;
	width: 40%;
	margin: 20px auto 0 auto;
	display: none;
}

#addInputs .row
{
	margin-left: 0 !important;
	margin-right: 0 !important;
}

#pages
{
	display: inline;
}

#loginButton
{
	margin: 10px auto;
	border: solid 3px #a6620a;
	border-radius: 10px;
	width: 125px;
	padding: 3px;
	color: #a6620a;
	font-weight: bold;
	background-color: #000;
}

#loginButton:hover
{
	color: #000;
	background-color: #caa71f;
}

#loginButtondiv
{
	margin: 10px auto 10px auto;
	width: 131px;
}

#registerLink
{
	width: 75%;
	margin: 0px auto 10px auto;
	text-align: center;
	color: #ffc414;
}

#registerLink a
{
	color: #c66612;
}

#registerLink a:hover
{
	color: #c4812b;
}

.monty-python
{
	background: url("../images/contactsBanner.jpg") no-repeat fixed center -50px;
	height: 250px;
}

.mypage-link-current
{
	background-color: #404040 !important;
	border-color: #404040 !important;	
}

.mypage-link
{
	color: #000!important;
}

.myColor
{
	background-color: #404040 !important;
	color: #e9ecef !important;
	
}

.status
{
	display: none;
}